@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@400;500;600&display=swap");

:root {
  --ff-Lora: "Lora", serif;
  --ff-Poppins: "Poppins", sans-serif;

  --color-1: #5c4b51;
  --color-2: #f3b562;
  --color-3: #8e98a6;
  --color-4: #8cbeb2;
  --color-5: #f2ebbf;
}

body {
  font-family: var(--ff-Poppins);
  background-color: var(--color-1);
}

main .card {
  background-color: var(--color-5);
}

main .card-text {
  font-size: 0.8rem;
}

main .card-body #awards {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .card-body button {
  background-color: var(--color-2) !important;
}

main .card-body button:hover {
  background-color: gold !important;
  transition-duration: 0.5s;
}
